<div id="page_with_refresh_layoutdiv">
  <div id="page_with_refresh_layoutdiv_RefreshCounter">page_with_refresh_layoutdiv refresh counter: <%= session[:counters][:page_with_refresh_layoutdiv] += 1%></div>
  <%= link_to 'Go to Index from page_with_refresh_layoutdiv', root_path %>
</div>
