<div id="page_with_railsajax_javascript">
  <div id="page_with_railsajax_javascript_RefreshCounter">page_with_railsajax_javascript refresh counter: <%= session[:counters][:page_with_railsajax_javascript] += 1%></div>
  <%= link_to 'Go to Index from page_with_railsajax_javascript', root_path %>
</div>
